footer {
  background-color: #fff !important;
}
.main-color {
  color: #e94560;
}
a,
.about {
  text-decoration: none !important;
  color: #000 !important;
  opacity: 0.8;
}
a:hover {
  opacity: 1;
}
.contact p {
  color: #000 !important;
  opacity: 0.8;
  cursor: pointer;
}
